<div>

    <!--<canvas height="" class="chart chart-bar" data="winrateData.datasets.data" labels="winrateData.labels"></canvas>-->

  <tabset>
    <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disable="tab.disabled">

        <canvas width="3" height="1" class="chart chart-bar" data="tab.data.data" labels="tab.data.labels"></canvas>

    </tab>
  </tabset>
</div>
<div>
    <div class="btn-group">
        <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Normal'">Normal</label>
        <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Ranked'">Ranked</label>
    </div>
    <div  class="btn-group">
        <label class="btn btn-success" ng-model="radioModel2" btn-radio="'Bronze'">Bronze</label>
        <label class="btn btn-success" ng-model="radioModel2" btn-radio="'Silver'">Silver</label>
        <label class="btn btn-success" ng-model="radioModel2" btn-radio="'Gold'">Gold</label>
        <label class="btn btn-success" ng-model="radioModel2" btn-radio="'Platinium'">Platinium</label>
        <label class="btn btn-success" ng-model="radioModel2" btn-radio="'Diamond'">Diamond</label>
        <label class="btn btn-success" ng-model="radioModel2" btn-radio="'Master'">Master</label>
        <label class="btn btn-success" ng-model="radioModel2" btn-radio="'Challenger'">Challenger</label>
    </div>
    <div class="btn-group">
         <label class="btn btn-warning" ng-model="radioModel3" btn-radio="'5.11'">5.11</label>
         <label class="btn btn-warning" ng-model="radioModel3" btn-radio="'5.14'">5.14</label>
    </div>
</div>


  

