
  
  <div class="container">
    <!--<br><p>Click all the fruits that you like</p>-->
        <div ng-controller="Ctrl">
          <tabset >
            <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disable="tab.disabled">
              <div ng-include="tab.content"></div>
            </tab>
          </tabset>
        </div>
        <div ng-controller="Ctrl">
            <div class="btn-group">
                <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Normal'">Normal</label>
                <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Ranked'">Ranked</label>
            </div>
            <div  class="btn-group">
                <label class="btn btn-success" ng-model="radioModel2" btn-radio="'Bronze'">Bronze</label>
                <label class="btn btn-success" ng-model="radioModel2" btn-radio="'Silver'">Silver</label>
                <label class="btn btn-success" ng-model="radioModel2" btn-radio="'Gold'">Gold</label>
                <label class="btn btn-success" ng-model="radioModel2" btn-radio="'Platinium'">Platinium</label>
                <label class="btn btn-success" ng-model="radioModel2" btn-radio="'Diamond'">Diamond</label>
                <label class="btn btn-success" ng-model="radioModel2" btn-radio="'Master'">Master</label>
                <label class="btn btn-success" ng-model="radioModel2" btn-radio="'Challenger'">Challenger</label>  
            </div>
        </div>
  </div>

  

