@cl-main: #9333f9;
@cl-panel: #32373E;

.view-container{
    display: block;
    overflow: hidden;
    padding: 90px 10px;
}

.lc-buttons{
    padding: 24px 0;
    text-align: center;
    select,label,input{ 
        &:focus,
        &:hover{
            border-color: @cl-main;
            box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(147, 51, 249, 0.7);
        }
    }  
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1;
}
.background img {
    min-width: 100%;
    min-height: 100%;
}
.background .dot{
    position: absolute;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGUlEQVQ4y2NgoBJwoJAedcGoC0ZdMOAuAABF0hABJ/8lyQAAAABJRU5ErkJggg==);
    width: 100%;
    height: 100%;
}
.tab-pane{
    background-color: rgba(0, 0, 0, 0.8);
    //background-color: @cl-panel;
    padding: 15px;
    border-radius: 0 5px 5px 5px;
}
.nav-tabs .active a{
    background-color: @cl-panel !important;
    border-color: @cl-panel !important;
}

.btn-purple{
    background-color: @cl-main;
    border-color: lighten(@cl-main, 10%);
    color: #ddd;
  &.active{
    color: #fff;
    background-color: multiply(@cl-main, #bbb);
    &:hover, &:hover{ background-color: multiply(@cl-main, #bbb); }
  }
  &:hover, &:focus{
    background-color: multiply(@cl-main, #ccc);;
    border-color: lighten(@cl-main, 10%);
  }
}

.chart-section{
    h1{
        margin-bottom: 40px;
    }
}
.list-section{
  img{ width: 40px; }
  table{
      background-color: rgba(0, 0, 0, 0.8);
    td{ vertical-align: middle !important; }
  }
    h1{
        color:white;
        font-size: 400%;
    }
}


.lc-searchbox{
  position: relative;
  margin: 20px 0;

  i{
    position: absolute;
    top: 12px; left: 12px;
    font-size: 16px;
    color: #999;
  }

  input{
    background-color: rgba(0, 0, 0, 0.4);
    color: #eee;
    padding-left: 40px;
    &:focus,
    &:hover{
      border-color: @cl-main;
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(147, 51, 249, 0.7);
    }
  }
}