<section class="main row top-section-detaills">
    <div class="col-md-2">
        <img src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/champion/Aatrox.png" alt="Description"/>
    </div>
    <div class="col-md-6" >
        <h3>Nombre del campeon</h3>
        <h4>Subnombre: </h4>
    </div>
    <div class="col-md-4">
        <canvas  id="radar" class="chart chart-radar" data="dataRadar" labels="labelsRadar" options="Options"></canvas> 
    </div>
</section>
<div class="form-inline lc-buttons">
    <div class="btn-group">
            <label class="btn btn-primary">Normal</label>
            <label class="btn btn-primary">Ranked</label>
    </div>
    <div class="form-group">
        <select class="form-control" ng-model="filters.league">
            <option>--All--</option>
            <option>Unranked</option>
            <option>Bronze</option>
            <option>Silver</option>
            <option>Gold</option>
            <option>Platinium</option>
            <option>Diamond</option>
            <option>Master</option>
            <option>Challenger</option>
        </select>
    </div>
</div>

<section class="chart-section">

    <div fixed-height=".tab-pane.active" extra-item=".nav-tabs">

        <tabset class="lc-tabs">
            <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disable="tab.disabled">
                <canvas id="bar"  width="4" height="1" class="chart chart-bar" data="dataBar" labels="labelsBar"></canvas> 
            </tab>
        </tabset>

    </div>
</section>

<section class="list-section">
        <h3>The most used items</h3>
        <table class="table">
            <thead>
            <tr> 
                <th>1º</th>
                <th>2º</th>
                <th>3º</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>img</td>
                <td>img</td>
                <td>img</td>
            </tr>
            </tbody>
        </table>
    </section>