<section class="list-section">
    <h1 align="center">Champions</h1>

    

    <div class="form-inline lc-buttons">
        <div class="form-group">
        <div class="lc-searchbox">
            <i class="glyphicon glyphicon-search"></i>
            <input class="form-control" type="search" ng-model="searchChamp"/>
        </div>
        </div>
        <div class="form-group">
            <select class="form-control">
                <option></option>
                <option>None</option>
                <option>WinRate</option>
                <option>PickRate</option>
                <option>BanRate</option>
            </select>
            <input class="form-control" ng-model="string" placeholder="Minimal">
        </div>
        <div class="btn-group">
            <label class="btn btn-primary" ng-model="filters.queue" btn-radio="'Normal'">Normal</label>
            <label class="btn btn-primary" ng-model="filters.queue" btn-radio="'Ranked'">Ranked</label>
        </div>
        <div class="form-group">
            <select class="form-control" ng-model="filters.league" >
                <option>--All--</option>
                <option>Unranked</option>
                <option>Bronze</option>
                <option>Silver</option>
                <option>Gold</option>
                <option>Platinium</option>
                <option>Diamond</option>
                <option>Master</option>
                <option>Challenger</option>
            </select>
        </div>
        <div class="btn-group">
            <label class="btn btn-purple" ng-model="filters.version" btn-radio="'5.11'">5.11</label>
            <label class="btn btn-purple" ng-model="filters.version" btn-radio="'5.14'">5.14</label>
        </div>
    </div>
    

    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>Name</th>
            <th>WinRate</th>
            <th>PickRate</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="champion in champions | filter:searchChamp">
            <td><img class="icon" ng-src="{{champion.img_url}}" alt=""/></td>
            <td>{{champion.id}}</td>
            <td>{{champion.name}}</td>
        </tr>
        </tbody>
    </table>
</section>