<section class="main row" style="border-style: solid;">
    <div class="col-md-2" >
        <img src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/champion/Aatrox.png" alt="Description"/>
    </div>
    <div class="col-md-8" >
        <h3>Nombre del campeon</h3>
        <h4>Subnombre: </h4>
    </div>
    <div class="col-md-2" >
        <h3>grafico de posiciones</h3>
    </div>
</section>

<div class="btn-group">
        <label class="btn btn-primary">Normal</label>
        <label class="btn btn-primary">Ranked</label>
</div>
<div class="btn-group">
    <select ng-model="filters.league">
        <option>--All--</option>
        <option>Unranked</option>
        <option>Bronze</option>
        <option>Silver</option>
        <option>Gold</option>
        <option>Platinium</option>
        <option>Diamond</option>
        <option>Master</option>
        <option>Challenger</option>
    </select>
</div>

<section class="chart-section">

    <div fixed-height=".tab-pane.active" extra-item=".nav-tabs">

        <tabset class="lc-tabs">
            <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disable="tab.disabled">
                <canvas ng-if="tab.active" width="4" height="1" class="chart chart-bar" data="tab.data"
                        labels="labels" options="options"></canvas>
            </tab>
        </tabset>

    </div>
</section>

<section class="list-section">
        <h3>The most used items</h3>
        <table class="table">
            <thead>
            <tr> 
                <th>1º</th>
                <th>2º</th>
                <th>3º</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>img</td>
                <td>img</td>
                <td>img</td>
            </tr>
            </tbody>
        </table>
    </section>