<section class="about">
    <h1>How we've got the data?</h1>
    <ol>
        <div class="col-md-6 col-sm-3">
            <h3><li>Crawler</li></h3>
            <p>We have created a crawler that sends requests to the API Riot Games with all the MatchId provided of EUWest server, of which 19,576 have been possible to obtain items for patch 5.11 and 19,821 for 5.14.</p>
            <p><a href="https://github.com/lolDevelopers/APItems/tree/master/crawler%2Bformatter">Crawler in github</a></p>
        </div>
        <div class="col-md-6 col-sm-3">
            <img width="300" height="250" src="images/crawler.jpg">
        </div>
        <div class="col-md-6 col-sm-3">
            <h3><li>Formatter</li></h3>
            <p>This Crawler-Formatter (created by us) reads and decodes the results to extract all the data we want to use a json file format.</p>
            <p>Files:</p>
            <ol>
                <li><a href="https://github.com/lolDevelopers/APItems/blob/master/App/static/5.11.json">Json 5.11</a></li>
                <li><a href="https://github.com/lolDevelopers/APItems/blob/master/App/static/5.14.json">Json 5.14</a></li>
            </ol>
        </div>
        <div class="col-md-6 col-sm-3">
            <img width="300" height="250" src="images/formatter.jpg">
        </div>
        <div class="col-md-6 col-sm-3">
            <h3><li>APP</li></h3>
            <p>The application was created using technologies like Angularjs and Bootstrap. This application has 3 main sections:</p>
            <ol>
                <li><a href="#/">AP Items:</a> This section compares the items of hability power(AP) in different versions of the game with powerful filters.</li>
                <li><a href="#/champions">Champions:</a> An impressive section that can compare from a single view, the main impact of the different versions of the game champions.</li>
                <li><a href="#/champions/266">Champions detaills:</a> Specializes in analyzing in great detail the changes that have been the champions and their respective objects from one version to another version</li>
            </ol>
            <p><a href="https://github.com/lolDevelopers/APItems">App in Github</a> and <a href="https://github.com/lolDevelopers/APItems">Full Respository</a></p>
        </div>
        <div class="col-md-6 col-sm-3">
            <!--<img width="300" height="250" src="images/formatter.jpg">-->
        </div>

    </ol>

</section>