<section class="about">
    <h1>¿Cómo se han obtenido los datos?</h1>
    <ol>
    
        <div class="col-md-6 col-sm-3">
            <h3><li>Crawler</li></h3>
            <p>Hemos creado un rastreador que envia peticiones a la API de league of legends con todas las id proporcionados del servidor de EUWEST, de las cuales han sido posibles obtener 19576 partidas para el parche 5.11 y 19821 para el 5.14.</p>
        </div>
        <div class="col-md-6 col-sm-3">
            <img width="300" height="250" src="images/crawler.jpg">
        </div>
        <div class="col-md-6 col-sm-3">
            <h3><li>Formatter</li></h3>
            <p>Este pluging(creado por nosotros)de crawler lee los resultados y los decodifica para extraer todos los datos que vamos a querer utilizar en un archivo de formato json.</p>
        </div>
        <div class="col-md-6 col-sm-3">
            <img width="300" height="250" src="images/formatter.jpg">
        </div>
    </ol>

</section>