<section class="main row top-section-detaills">
    <div class="col-md-2">
        <img ng-src="{{champion.img}}" alt=""/>
    </div>
    <div class="col-md-6 col-sm-4">
        <h1>{{ champion.name }}</h1>
        <h2 class="mayus-name">{{ champion.subtitle }} </h2>
    </div>
    <div class="col-md-2 col-sm-3">
        <h4 class="text-center no-margin">5.11</h4>
        <canvas width="1" height="1" class="chart chart-radar" data="dataRadar511" labels="labelsRadar" options="options2"></canvas>
    </div>
    <div class="col-md-2 col-sm-3">
        <h4 class="text-center no-margin">5.14</h4>
        <canvas width="1" height="1" class="chart chart-radar" data="dataRadar514" labels="labelsRadar" options="options2"></canvas>
    </div>
</section>
<div class="form-inline lc-buttons">
    <div class="btn-group">
        <label class="btn btn-primary" ng-model="filters.queue" btn-radio="'Normal'">Normal</label>
        <label class="btn btn-primary" ng-model="filters.queue" btn-radio="'Ranked'">Ranked</label>
    </div>
    <div class="form-group">
        <select class="form-control" ng-model="filters.league">
            <option>Unranked</option>
            <option>Bronze</option>
            <option>Silver</option>
            <option>Gold</option>
            <option>Platinum</option>
            <option>Diamond</option>
            <option>Master</option>
            <option>Challenger</option>
        </select>
    </div>
</div>


<section class="row">

    <div class="col-sm-6 chart-sectionDetaills">
        <div fixed-height=".tab-pane.active" extra-item=".nav-tabs">

            <tabset class="lc-tabs">
                <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disable="tab.disabled">
                    <canvas id="bar" width="4" height="2" class="chart chart-bar" data="tab.data" labels="labelsBar"
                            options="options"></canvas>
                </tab>
            </tabset>

        </div>
    </div>
<div class="col-sm-6" >
    <h3 class="text-center">The most used items</h3>
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <!--<caption>5.11</caption>-->
                <tbody>
                    <tr>
                        <td >5.11</td>
                        <td ng-repeat="item in items11"><img class="icon" popover="{{item.name}}" popover-trigger="mouseenter" ng-src="http://ddragon.leagueoflegends.com/cdn/5.11.1/img/item/{{item.id}}.png" alt=""/></td>
                        <!--<td>{{item.name}}</td>-->
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12">
            <table class="table">
                <!--<caption>5.14</caption>-->
                <tbody>
                    <tr>
                        <td>5.14</td>
                        <td ng-repeat="item in items14"><img class="icon" popover="{{item.name}}" popover-trigger="mouseenter" ng-src="http://ddragon.leagueoflegends.com/cdn/5.14.1/img/item/{{item.id}}.png" alt=""/></td>
                        
                    </tr>
                </tbody>
            </table>
        </div>

</div>
    <!--<div class="col-sm-6" >
        <h3 class="text-center">The most used items</h3>

        <div class="row">
            <div class="col-sm-6">
                <table class="table">
                    <caption>5.11</caption>
                    <tbody>
                        <tr ng-repeat="item in items11">
                            <td><img class="icon" ng-src="http://ddragon.leagueoflegends.com/cdn/5.11.1/img/item/{{item.id}}.png" alt=""/></td>
                            <td>{{item.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <table class="table">
                    <caption>5.14</caption>
                    <tbody>
                        <tr ng-repeat="item in items14">
                            <td><img class="icon" ng-src="http://ddragon.leagueoflegends.com/cdn/5.14.1/img/item/{{item.id}}.png" alt=""/></td>
                            <td>{{item.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>-->


</section>
