<div class="col-sm-12">

    <section class="chart-section">
        <h1 align="center">APitems statistics</h1>
        <div fixed-height=".tab-pane.active" extra-item=".nav-tabs">

            <tabset class="lc-tabs">
                <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disable="tab.disabled">
                    <canvas ng-if="tab.active" width="6" height="2" class="chart chart-bar" data="tab.data"
                            labels="labels" options="options"></canvas>
                </tab>
            </tabset>

        </div>
        <div class="form-inline lc-buttons">
            <div class="btn-group">
                <label class="btn btn-primary" ng-model="filters.queue" btn-radio="'Normal'">Normal</label>
                <label class="btn btn-primary" ng-model="filters.queue" btn-radio="'Ranked'">Ranked</label>
            </div>
            <select class="form-control" ng-model="filters.league">
                <option>--All--</option>
                <option>Unranked</option>
                <option>Bronze</option>
                <option>Silver</option>
                <option>Gold</option>
                <option>Platinum</option>
                <option>Diamond</option>
                <option>Master</option>
                <option>Challenger</option>
            </select>
            <div class="btn-group">
                <label class="btn btn-purple" ng-model="filters.version" btn-radio="'5.11'">5.11</label>
                <label class="btn btn-purple" ng-model="filters.version" btn-radio="'5.14'">5.14</label>
            </div>
        </div>
    </section>


    <section class="list-section">
        <h3>List of items</h3>
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <!--<th><a href="" ng-class="{'active': order.field == 'id'}" ng-click="Order('id')"><i class="glyphicon" ng-show="order.field == 'id'" ng-class="{'glyphicon-chevron-up': !order.reverse, 'glyphicon-chevron-down': order.reverse}"></i>ID</a></th>-->
                <th><a href="" ng-class="{'active': order.field == 'name'}" ng-click="Order('name')"><i class="glyphicon" ng-show="order.field == 'name'" ng-class="{'glyphicon-chevron-up': !order.reverse, 'glyphicon-chevron-down': order.reverse}"></i>Name</a></th>
                <th><a href="" ng-class="{'active': order.field == 'winrate'}" ng-click="Order('winrate')"><i class="glyphicon" ng-show="order.field == 'winrate'" ng-class="{'glyphicon-chevron-up': !order.reverse, 'glyphicon-chevron-down': order.reverse}"></i>Win rate (%)</a></th>
                <th><a href="" ng-class="{'active': order.field == 'pickrate'}" ng-click="Order('pickrate')"><i class="glyphicon" ng-show="order.field == 'pickrate'" ng-class="{'glyphicon-chevron-up': !order.reverse, 'glyphicon-chevron-down': order.reverse}"></i>Pick rate (%)</a></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in items | orderBy:order.field:order.reverse">
                <td><img class="icon" ng-src="http://ddragon.leagueoflegends.com/cdn/5.14.1/img/item/{{item.id}}.png" alt=""/></td>
                <!--<td>{{item.id}}</td>-->
                <td>{{item.name}}</td>
                <td>{{item.winrate | number:2 }}</td>
                <td>{{item.pickrate | number:2 }}</td>
            </tr>
            </tbody>
        </table>
    </section>
</div>





